html, body {
    display: flex;
}

.hidden {
    display: none;
}

.button {
    margin: 3% auto;
    padding: 1em;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
}

.pagetype:hover {
    color: white;
    background: radial-gradient(ellipse at right, #92B3A8, #49816E);
}

.pagetype {
    background-color: #B6CDC5;
}
